<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Verify email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Verify email</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #verifyForm="ngForm" (ngSubmit)="auth.confirmSignUp(emailInput.value, codeInput.value)" novalidate>
    <ion-item lines="full">
      <ion-input 
          label="Email" 
          type="email" 
          placeholder="email@domain.com" 
          [ngClass]="{'ion-invalid': !emailInput.valid && emailInput.touched}"
          helper-text="Enter email address" 
          labelPlacement="floating" 
          #emailInput
          ngModel
          name="email"
          required
          [email]="true"
        ></ion-input>
      <div class="error-message" *ngIf="emailInput.invalid && emailInput.touched">
        <div *ngIf="emailInput.errors.required">Email is required.</div>
        <div *ngIf="emailInput.errors.email">Email is invalid.</div>
      </div>
    </ion-item>

    <ion-item lines="full">
      <ion-input 
          label="Code" 
          type="text" 
          placeholder="0000" 
          helper-text="Enter code from email to verify" 
          labelPlacement="floating" 
          #codeInput
          ngModel
          name="code"
          required
        ></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <small>
          <p *ngIf="auth.errorMessage" color="danger" class="error-message">{{ auth.errorMessage }}</p>
          <ion-button type="submit" color="primary" expand="block" [disabled]="!verifyForm.valid">Submit</ion-button>
          Do you have an account? <a [routerLink]="['/login']" expand="block" color="primary">Sign in</a><br>
      </small>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
