<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Forgot password</ion-title>
    </ion-toolbar>
  </ion-header>

  <form>
    <form #signInForm="ngForm" (ngSubmit)="auth.signUp(emailInput.value, passwordInput.value)" novalidate>
      <ion-item lines="full">
        <ion-input 
            label="Email" 
            type="email" 
            placeholder="email@domain.com" 
            [ngClass]="{'ion-invalid': !emailInput.valid && emailInput.touched}"
            helper-text="The email address that you used when you signed up" 
            labelPlacement="floating" 
            #emailInput
            ngModel
            name="email"
            required
            [email]="true"
          ></ion-input>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
